/* service_swiper */


.service_swiper .swiper-slide {
  /* border: 5px solid red; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_swiper.swiper {
  width: 100%;
  /* height: 300px; */
  margin: 20px auto;
}

